*{
  box-sizing: border-box;
  } /* Star = Target everything, border box puts padding and mat*/

html {
  background: #0025FF;
  color: #fff;
}

header {
  padding: 20px;
  text-align: center;
}

.logo {
  text-align: center;
  display: inline-block;
  width: 200px;
  height: 200px;
  border-radius: 100%;
  background: #fff;
}

.logo img {
  width: 140px;
  margin-top: 55px;
}

/*.yearbook{
  padding: 20px;
}*/

.student{
  background-color: white;
  width: 18%;
  /*padding: 10px;*/
  margin: 10px;
  float: left;
  padding: 2px;
}

.student img{
  width: 90%;
}

.student h2{
  font-size: 25px;
  color: red;
  text-align: center;
}
.photo{
  text-align: center;
}
